<!DOCTYPE html>
<html lang="end">
    <head>
        <title>Date and Time</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'time_display/css/styles.css' %}">
    </head>
    <body>
        <center>
            <div id="container">
                    <h4>The current time and date:</h4>
                    <div id="time_container">
                        <h1>{{ date }}</h1>
                        <h1>{{ time }}</h1>
                    </div>
            </div>
        </center>
    </body>

</html>