<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Book and Review</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'book_review/css/styles.css' %}">
</head>
<body>
    <div id="container">
        <div id="leftContainer">
            <h1>{{ book.title }}</h1>
            <h3>Author: {{ book.author.name }} </h3>
        </div>
        <div id="rightContainer">
            <a href="/books">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    
</body>
</html>